@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800&amp')
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: inherit;
	list-style: none;
	font-family: "Montserrat", arial,sans-serif;
}
body{
	background-image: url('background.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}
header{
	height: 150px;
}
header img{
	height: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
p{
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	font-family: "Montserrat";
	color: black;
	font-weight: lighter;
}
h1{
	text-align:center;
	font-size: 60px;
	font-family: "Montserrat";
	color: white;
	font-weight: bolder;
}
section{
	padding-top: 40px;
	text-align:center;
}
section p{
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	font-family: "Montserrat";
	color: white;
	font-weight: lighter;
}
div{
	margin-right: 10px;
	display: inline-block;
}
div img{
	width: 15vw;
	height: 30vh;
	border-radius: 10%;
}
